<!DOCTYPE html>
<html>
<head>
  <title>Accountly</title>
  <%= stylesheet_link_tag    "accountly/application", media: "all" %>
  <%= javascript_include_tag "accountly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
